/**
 * Component User List.
 *
 * @requires component
 */

// @import "component";

// =============================================================================
// User List
// =============================================================================

/**
 * Filter.
 */

.mat-form-field {
    flex: 1;
    margin: {
        right: 2rem;
        top: -0.25em;
    }
}

/**
 * Button.
 */

[data-action] {
    width: 12em;
}

.btn-group__item {
    &:nth-child(1) {
        margin-left: 0;
    }
}

/**
 * Wrapper.
 */

.wrap {
    max-height: 60vh;
    overflow-y: auto;
    position: relative;
}

/**
 * Table.
 */

.mat-table {
    [class*="action"],
    [class*="contact"] {
        width: 25%;
    }
}

/**
 * Paginator.
 */

.mat-paginator {
    bottom: -2px;
    padding-top: 0.5rem;
    position: sticky;
}
