/**
 * Component User List.
 *
 * @requires component
 */

// @import "component";

// =============================================================================
// User List
// =============================================================================

/**
 * Wrapper.
 */

.wrap {
    max-height: 66vh;
    overflow-y: auto;
    position: relative;
}

/**
 * Paginator.
 */

.mat-paginator {
    bottom: -1px;
    padding-top: 0.5rem;
    position: sticky;
}
