/**
 * Component Grid settings.
 */

// =============================================================================
// Grid settings
// =============================================================================

// Set column max size.
$grid-column-max: 1fr;

// Set column min size.
$grid-column-min: 12rem;

// Set row gap.
$grid-gap-row: 0;

// Set column gap.
$grid-gap-column: 2rem;

// Set sizing type.
$grid-sizing: auto-fit;


// =============================================================================
// Grid helpers
// =============================================================================

/**
 * Whaaaaaamfunction.
 */

// @function whaaaaaamfunction {}

/**
 * Supercoolmixin.
 */

// @mixin supercoolmixin {}
