/**
 * Component Link settings.
 */

// =============================================================================
// Link settings
// =============================================================================

// Set link color.
$link-color: (
    active:     TOMATO, // pressed
    focus:      TOMATO, // focused
    hover:      TOMATO, // hovered
    initial:    TOMATO,
    visit:      TOMATO, // visited
);
