/**
 * Button theme.
 *
 * param {Map} $theme
 */

@mixin monster-button-theme($theme: ()) {

    [class*="button"] {
        flex-shrink: 0;

        &:not(.mat-icon-button) {
            min-width: 5em;
        }

        &.--large {
            line-height: 60px;
            padding: {
                left: 24px;
                right: 24px;
            }
        }

        &.--small {
            line-height: 24px;
            padding: {
                left: 8px;
                right: 8px;
            }
        }
    }
}

/**
 * Button typography.
 *
 * param {Map} $conf
 */

@mixin monster-button-typography($conf: ()) {

    [class*="button"] {
        font-weight: 500;
    }

}
